<div
  style="margin: 50px 20px; font-family: Helvetica; font-size: 14.5px; line-height: 1.67; text-align: left; color: #1f1f1f;">
  <p style="margin: 15px 0 15px 0;">
    <a href="<%= confirmUrl %>"><%= confirmUrl %>
    </a>
  </p>
</div>